.header img {
  height: 80px;
}
.header {
  text-align: center;
}

.header nav {
  background-color: black;
  line-height: 40px;
  font-size: 20px;

  color: white;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  padding: 5px;
}

.header nav a:hover {
  background-color: gray;
}
